.div_1{
background: greenyellow;
color: white;
height: 150px;
width: 150px;
display: inline-block;
border: 10px solid red;
}

.div_2{
    background: blue;
    color: black;
    height: 150px;
    width: 150px;
    display: inline-block;
    border: 10px solid orange;
    }

    .div_3{
        background: palevioletred;
        color: gray;
        height: 300px;
        width: 300px;
        display: inline-block;
        border: 10px solid orange;
        }

        .div_4{
            background: blue;
            color: red;
            height: 400px;
            width: 200px;
            display: inline-block;
            border: 10px solid navy;
            }

            .div_5{
                background: gray;
                color: blue;
                height: 75px;
                width: 175px;
                display: inline-block;
                border: 10px solid royalblue;
                }

                .div_6{
                    background:navy ;
                    color: black;
                    height: 115px;
                    width: 115px;
                    display: inline-block;
                    border: 10px solid blue;
                    }